<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619200892678-v0as43l49tkllv548v65k0lnpbn6apj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619200892678-v0as43l49tkllv548v65k0lnpbn6apj6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>619200892678-28k5ktl8lvl253bp8pcnm1k46t6qn2fd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAs_MIgM6SJiOLgF2xR3EFCzXiFQn9ecq4</string>
	<key>GCM_SENDER_ID</key>
	<string>619200892678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayanfe.dev.irone</string>
	<key>PROJECT_ID</key>
	<string>irone-b43c3</string>
	<key>STORAGE_BUCKET</key>
	<string>irone-b43c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619200892678:ios:82b2924e9b093076931887</string>
</dict>
</plist>